<html>
    <head>
        <style></style>
    </head>
    <body>
        <p>Chào {{name}},</p>
        <p>Tài khoản HUST Examination dành cho {{role}} của bạn đã được tạo. Thông tin của tài khoản như sau: </p>
        <p>Tài khoản: {{account}}</p>
        <p>Mật khẩu: {{password}}</p>
        <p>Mong bạn sẽ có trải nghiệm tốt trên hệ thống!.</p>

        <p>Thân ái!</p>
        <p>HUST Examination</p>
    </body>
</html>